<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://cxf.apache.org/jaxws 
    http://cxf.apache.org/schemas/jaxws.xsd
    http://cxf.apache.org/jaxrs
    http://cxf.apache.org/schemas/jaxrs.xsd">
         
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>    
     <bean id="requestProcess" class="com.creditplus.p2p.webapp.common.rest.RequestProcess"/>
    <jaxrs:server id="serviceContainer" address="/">
        <jaxrs:serviceBeans>
        	<ref bean="requestProcess" />
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
        	<entry key="json" value="application/json" />
    	</jaxrs:extensionMappings>
    	<jaxrs:languageMappings>
           <entry key="en" value="en-gb"/>  
    	</jaxrs:languageMappings>      
    	<jaxrs:providers >
    	   <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
    	   		<constructor-arg name="mapper" ref="mapper" />  
    	   </bean>
    	   <bean class="com.creditplus.p2p.webapp.common.rest.FaultExceptionMapper"/>    	   
    	</jaxrs:providers>
    	<jaxrs:outFaultInterceptors></jaxrs:outFaultInterceptors>  
    </jaxrs:server>
    
    <bean id="mapper" class="com.fasterxml.jackson.databind.ObjectMapper">  
    	<property name="dateFormat" ref="simpleDataformat" />
	</bean>
    
  	<bean id="simpleDataformat" class="java.text.SimpleDateFormat">  
		<constructor-arg value="yyyy-MM-dd HH:mm:ss" />  
	</bean> 
	<bean id="messageSource"
	    class="org.springframework.context.support.ResourceBundleMessageSource">
	    <property name="basenames">
	        <list>
	        <value>messages</value>
	        </list>
	    </property>
	</bean>    
</beans>