html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
.row {
  margin-left: -5px;
  margin-right: -5px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: 0%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: 0%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 70%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 30%;
  }
  
 /**修改每行放置四个元素 **/
  .col-sm-2 {
    /**width: 16.66666667%;**/
	width: 25%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1024px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0 10px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
.col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 1440px) {
  .col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12 {
    float: left;
  }
  .col-xlg-12 {
    width: 100%;
  }
  .col-xlg-11 {
    width: 91.66666667%;
  }
  .col-xlg-10 {
    width: 83.33333333%;
  }
  .col-xlg-9 {
    width: 75%;
  }
  .col-xlg-8 {
    width: 66.66666667%;
  }
  .col-xlg-7 {
    width: 58.33333333%;
  }
  .col-xlg-6 {
    width: 50%;
  }
  .col-xlg-5 {
    width: 41.66666667%;
  }
  .col-xlg-4 {
    width: 33.33333333%;
  }
  .col-xlg-3 {
    width: 25%;
  }
  .col-xlg-2 {
    width: 16.66666667%;
  }
  .col-xlg-1 {
    width: 8.33333333%;
  }
  .col-xlg-pull-12 {
    right: 100%;
  }
  .col-xlg-pull-11 {
    right: 91.66666667%;
  }
  .col-xlg-pull-10 {
    right: 83.33333333%;
  }
  .col-xlg-pull-9 {
    right: 75%;
  }
  .col-xlg-pull-8 {
    right: 66.66666667%;
  }
  .col-xlg-pull-7 {
    right: 58.33333333%;
  }
  .col-xlg-pull-6 {
    right: 50%;
  }
  .col-xlg-pull-5 {
    right: 41.66666667%;
  }
  .col-xlg-pull-4 {
    right: 33.33333333%;
  }
  .col-xlg-pull-3 {
    right: 25%;
  }
  .col-xlg-pull-2 {
    right: 16.66666667%;
  }
  .col-xlg-pull-1 {
    right: 8.33333333%;
  }
  .col-xlg-pull-0 {
    right: 0%;
  }
  .col-xlg-push-12 {
    left: 100%;
  }
  .col-xlg-push-11 {
    left: 91.66666667%;
  }
  .col-xlg-push-10 {
    left: 83.33333333%;
  }
  .col-xlg-push-9 {
    left: 75%;
  }
  .col-xlg-push-8 {
    left: 66.66666667%;
  }
  .col-xlg-push-7 {
    left: 58.33333333%;
  }
  .col-xlg-push-6 {
    left: 50%;
  }
  .col-xlg-push-5 {
    left: 41.66666667%;
  }
  .col-xlg-push-4 {
    left: 33.33333333%;
  }
  .col-xlg-push-3 {
    left: 25%;
  }
  .col-xlg-push-2 {
    left: 16.66666667%;
  }
  .col-xlg-push-1 {
    left: 8.33333333%;
  }
  .col-xlg-push-0 {
    left: 0%;
  }
  .col-xlg-offset-12 {
    margin-left: 100%;
  }
  .col-xlg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xlg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xlg-offset-9 {
    margin-left: 75%;
  }
  .col-xlg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xlg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xlg-offset-6 {
    margin-left: 50%;
  }
  .col-xlg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xlg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xlg-offset-3 {
    margin-left: 25%;
  }
  .col-xlg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xlg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xlg-offset-0 {
    margin-left: 0%;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  background-color: #ffffff;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
body {
  font-size: 1.2em;
  color: #666666;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hae-hide,
.hae-i18n {
  display: none !important;
}
.hidden-scroll {
  overflow: hidden !important;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: #428bca;
}
.text-primary:hover {
  color: #3071a9;
}
input[type="text"] {
  font-size: 1em;
  height: 25px;
  padding: 0 6px;
  color: #666666;
  line-height: normal;
  -webkit-transition: border-color ease-in-out .3s;
  transition: border-color ease-in-out .3s;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input[type="text"][disabled] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
input::-ms-clear,
input[type="password"]::-ms-reveal {
  display: none;
}
input[disabled] {
  cursor: not-allowed;
}
input[readonly] {
  cursor: default;
}
select,
textarea {
  -webkit-transition: border-color ease-in-out .3s;
  transition: border-color ease-in-out .3s;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
  height: auto;
  padding: 3px 6px;
  color: #666666;
  resize: none;
}
select:focus,
textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea {
  min-height: 90px;
  line-height: normal;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}
.hae-spacecontrol {
  line-height: 180%;
  margin-bottom: 10px;
}
.hae-spacecontrol .hae-input {
  width: 100%;
}
.hae-spacecontrol .hae-label {
  width: 100%;
  display: inline-block;
}
.hae-input .list-inline li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
  float: left;
}
.hae-label {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .hae-label {
    text-align: right;
  }
}
.hae-label:before {
  content: "  ";
  color: #666666;
  padding-right: 4px\9;
}
.hae-input {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.hae-input input[type="text"],
.hae-input textarea {
  width: 100%;
  vertical-align: middle;
}
.layout-equalheight {
  margin:0;
}
.layout-equalheight > .row {
  display: table;
  width: 100%;
  margin: 0;
  table-layout: fixed;
  border-spacing: 0;
}
.layout-equalheight > .row .equalheight-item {
  float: none;
  display: table-cell;
  vertical-align: top;
}
.layout-equalheight > .row:before,
.layout-equalheight > .row:after {
  display: none;
}
/** 设置内容居面包屑距离 */
.hae-page {
  margin-top: 9px;
}
.hae-btn {
  min-width: 60px;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 10px;
  border: 0;
}
.hae-btn img {
  margin-right: 2px;
}
.hae-tree.tree-togglemenu .hae-menu-toggle {
  height: 40px;
  font-size: 1.66666667em;
  padding-right: 8px;
}
.hae-tree.tree-togglemenu .hae-menu-toggle a.hae-icon {
  float: right;
  margin-top: 10px;
}
.hae-tabs .hae-tabs {
  margin: 0 10px;
}
.hae-tabs .hae-tabs .tabs-head ul {
  height: 26px;
}
.hae-tabs .tabs-loading {
  background: url(../images/container-loading.gif) center no-repeat;
  min-height: 200px;
  width: 100%;
}
.hae-tabs .hae-nav-tabs-head {
  margin: 0 -10px 0 -10px;
}
.hae-tabs .tabs-head {
  white-space: nowrap;
  margin: 0 -10px 10px -10px;
  overflow: hidden;
}
.hae-tabs .tabs-head ul {
  position: relative;
  width: 9999px;
  height: 28px;
}
.hae-tabs .tabs-head li {
  float: left !important;
  position: relative;
  margin-right: -1px;
  cursor: pointer;
}
.hae-tabs .tabs-head li.tabs-selected {
  font-weight: bold;
}
.hae-tabs .tabs-head .hae-small-close {
  top: 7px;
  right: 3px;
}
.row .hae-tabs .tabs-head {
  margin: 0 0 20px 0;
}
.hae-toolbar {
  clear: both;
  text-align: center;
  margin: 10px 0 10px 0;
}
@media (max-width: 480px) {
  .hae-toolbar .hae-btn,
  .hae-toolbar .btn-minor {
    margin-bottom: 10px;
  }
}
.hae-toolbar + .hae-toolbar {
  clear: none;
}
.hae-breadcrumb li {
  display: inline-block;
}
.hae-breadcrumb li + li:before {
  content: ">";
  font-family: "宋体", sans-serif;
  font-weight: bold;
  padding: 0 5px;
  color: #cccccc;
}
/* body */
#hae_Body {
  border-top: 65px solid rgba(255, 255, 255, 0.1);
}
#hae_LeftPanel,
#hae_MainPanel,
#hae_RightPanel {
  padding: 10px;
}
#hae_LeftPanel[class$="equalheight-item"],
#hae_MainPanel[class$="equalheight-item"],
#hae_RightPanel[class$="equalheight-item"] {
  height: 500px;
}
#hae_LeftPanel,
#hae_RightPanel {
  width: 240px;
}
@media (max-width: 1023px) {
  #hae_LeftPanel,
  #hae_RightPanel {
    display: none !important;
  }
}
#hae_LeftPanel {
  padding: 10px 0;
}
/* header  */
.hae-header {
  min-height: 55px;
  margin-bottom: 10px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 910;
  background-color: #3e89d4;
}
.hae-footer {
  background: #ffffff;
  border-top: solid 1px #d1d1d1;
  margin: 5px;
  padding: 5px 10px;
}
.hae-footer ul {
  margin: 5px 0;
}
.hae-header .hae-logo > li,
.hae-header .hae-toplink > ul:nth-child(2) > li,
.hae-footer ul > li {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.hae-header .hae-logo > li + li:before,
.hae-header .hae-toplink > ul:nth-child(2) > li + li:before,
.hae-footer ul > li + li:before {
  padding-right: 10px;
  padding-left: 0;
  color: rgba(0, 0, 0, 0);
  content: '';
}
.hae-wrong {
  text-align: center;
  padding: 1px 0;
}
.hae-wrong .hae-mainpage {
  background: none;
  box-shadow: none;
}
.hae-wrong h2,
.hae-wrong h3,
.hae-wrong h4 {
  color: #333333;
  margin-top: 10%;
  font: bold 12em Impact, Arial;
}
.hae-wrong h3,
.hae-wrong h4 {
  font: bold 6em "simhei";
}
.hae-wrong h4 {
  font-size: 4.6em;
  margin: 0 0 30px 0;
  font-weight: normal;
}
.hae-wrong p {
  font: normal 1.7em "Microsoft Yahei";
  margin-bottom: 20px;
}
.hae-wrong div {
  width: 80%;
  height: 3px;
  margin: 0 auto;
}



#hae_MainPanel {
  padding: 10px 20px;
}
#hae_Header,
#hae_Footer {
  position: fixed;
}
#hae_Footer {
  bottom: 0;
  width: 100%;
}
.hae-icon {
  font-family: 'iconfont';
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row .hae-tabs .tabs-head {
  margin-bottom: 0;
}

label {
  font-weight: normal;
}

.hae-btn {
  height: 30px;
  line-height: 30px;
  margin-right: 6px;
  margin-bottom: 5px;
  padding: 0 16px;
}

input[type="text"] {
  border: 1px solid #e5e9ea;
  background: #ffffff;
}


.tabs-head li {
  border: 1px solid #e2ebf3;
  color: #333333;
  padding: 0 30px;
  margin-right: -1px;
  background: #f8fcfe;
  border-radius: 3px 3px 0 0;
}
.tabs-head li span {
  color: #999;
}

.tabs-head li:hover span,
.tabs-head li.tabs-selected span {
  color: #1aa0e1;
}



.hae-tree.tree-togglemenu {
  font-family: "microsoft yahei", Arial;
  font-size: 14px;
  background: #fafdff;
  border: 1px solid #d8e8f0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  background: #eaecea;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2dcf1;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2dcf1;
}
::-webkit-scrollbar-thumb:active {
  background: #a4e0fc;
}
::-webkit-scrollbar-thumb {
  background: #b4d6e6;
  border-radius: 15px;
}
::-webkit-scrollbar-corner {
  background-color: #eaecea;
}

/**栏目树**/
a {
  color: #333333;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #006699;
  text-decoration: none;
}
a.disalbe {
  color: #f0f0f0;
}
a.hae-icon {
  color: #89bedd;
}
a.hae-icon:hover,
a.hae-icon:focus {
  color: #89bedd;
}
.hae-breadcrumb li a,
.hae-breadcrumb li span {
  color: #515256;
}
.hae-breadcrumb li a:hover,
.hae-breadcrumb li.breadcrumb-selected a,
.hae-breadcrumb li.breadcrumb-selected span {
  color: #39afdf;
}



/* hae-header */
 .hae-header {
    background: #3e89d4;
    min-height: 40px;
    height: 55px;
}
.hae-header .hae-logo .logo-text {
    font-size: 14px;
    color:#d0e2f5;
}

/*全局类样式覆盖*/
 body {
    font-family: arial, "微软雅黑";
    padding-bottom: 0;
}
.hae-h2, .hae-h3, .hae-h2:hover, .hae-h3:hover {
    color: #ff8f00;
    font-size: 18px;
    font-weight: normal;
    background: transparent;
}
.hae-input input[type="text"], .hae-input textarea {
    border-radius: 3px;
}
.hae-input input[type="text"]:focus, .hae-input textarea:focus {
    border-color: #ff8f00;
}
.hae-input .input-icon {
    color: #1AA0E1;
}
input[type="text"]:focus + .input-btn .hae-icon {
    color:#ff8f00;
}
/*滚动条*/
 ::-webkit-scrollbar-track-piece {
    background: transparent;
}
::-webkit-scrollbar-thumb:hover {
    background: #666;
}


/*布局类*/
 .layout-equalheight.adapt-heightfixed .heightfixed-left {
    margin-top: 74px;
}
/*快速链接*/
 .hae-linkmenu .linkmenu-setting span, .hae-linkmenu .linkmenu-setting span:hover {
    color: #ff8f00;
}
/*角色管理*/
 .toprloe-admin {
    font-size: 14px;
}
.hae-toprole .toprloe-admin>ul>li, .hae-toprole .toprloe-admin>ul>li a, .toprloe-admin>ul>li a:hover {
    color: #888;
}
.hae-toprole .poplist-account li, .poplist-language li {
    background: #F4F4F4;
}
.hae-toprole .poplist-account li, .poplist-language li, .poplist-account li a, .poplist-language li a {
    color: #777;
}
.hae-selector {
    border: 1px solid #CDCDCD;
}
.hae-toprole .poplist-account li:hover, .poplist-language li:hover {
    background: #EDEDED;
}
/*按钮*/
 .hae-btn {
    color: #fff;
    background: #ffac33;
    border: 1px solid #ef9716;
    border-radius: 3px;
    height: 32px;
    padding: 0 15px;
    min-width:80px;
    margin-right: 7px;
}
.hae-btn:hover {
    background: #fd9c0e;
    color: #fff;
    border: 1px solid #ef9716;
}
.search-y-btn .hae-btn::before {
    content:"";
    display: inline-block;
    background: url(./images/icon-u.png) -39px -33px no-repeat;
    width: 17px;
    height: 14px;
    margin-top: 6px;
    position: relative;
    top: 2px;
}
.clear-y-btn .hae-btn::before {
    content:"";
    display: inline-block;
    background: url(./images/icon-u.png) -39px -81px no-repeat;
    width: 17px;
    height: 14px;
    margin-top: 6px;
    position: relative;
    right: 4px;
    top: 2px;
}
.assign-y-btn .hae-btn::before {
    content:"";
    display: inline-block;
    background: url(./images/icon-u.png) -39px -130px no-repeat;
    width: 19px;
    height: 16px;
    margin-top: 3px;
    position: relative;
    right: 4px;
    top: 3px;
}
.export-y-btn .hae-btn::before {
    content:"";
    display: inline-block;
    background: url(./images/icon-u.png) -39px -177px no-repeat;
    width: 19px;
    height: 14px;
    margin-top: 5px;
    position: relative;
    top: 1px;
    right: 2px;
}
.reset-y-btn .hae-btn::before {
    content:"";
    display: inline-block;
    background: url(./images/icon-u.png) -39px -231px no-repeat;
    width: 21px;
    height: 14px;
    margin-top: 6px;
    position: relative;
    top: 2px;
}
.publish-y-btn .hae-btn::before {
    content:"";
    display: inline-block;
    background: url(./images/icon-u.png) -39px -271px no-repeat;
    width: 18px;
    height: 14px;
    margin-top: 6px;
    position: relative;
    top: 2px;
    right: 3px;
}
.import-y-btn .hae-btn::before {
    content:"";
    display: inline-block;
    background: url(./images/icon-u.png) -39px -312px no-repeat;
    width: 22px;
    height: 14px;
    margin-top: 6px;
    position: relative;
    top: 2px;
}
.return-y-btn .hae-btn::before {
    content:"";
    display: inline-block;
    background: url(./images/icon-u.png) -39px -346px no-repeat;
    width: 20px;
    height: 14px;
    margin-top: 6px;
    position: relative;
    top: 2px;
}
.clear-y-btn .hae-btn, .assign-y-btn .hae-btn, .export-y-btn .hae-btn, .reset-y-btn .hae-btn, .import-y-btn .hae-btn, .publish-y-btn .hae-btn, .return-y-btn .hae-btn {
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    height: 32px;
    padding: 0 15px;
    line-height: 27px;
    margin-right: 7px;
}
.clear-y-btn .hae-btn:hover, .assign-y-btn .hae-btn:hover, .export-y-btn .hae-btn:hover, .reset-y-btn .hae-btn:hover, .import-y-btn .hae-btn:hover, .publish-y-btn .hae-btn:hover, .return-y-btn .hae-btn:hover {
    background: #f8f8f8;
    color: #666;
    border: 1px solid #e5e5e5;
    height: 32px;
    padding: 0 15px;
    line-height: 27px;
}
.clear-y-btn .hae-btn:active, .assign-y-btn .hae-btn:active, .export-y-btn .hae-btn:active, .reset-y-btn .hae-btn:active, .import-y-btn .hae-btn:active, .publish-y-btn .hae-btn:active, .return-y-btn .hae-btn:active {
    background: #f8f8f8;
    color: #666;
    border: 1px solid #e5e5e5;
    box-shadow: inset 2px 2px 5px #edebeb;
    height: 32px;
    padding: 0 15px;
    line-height: 27px;
}
.hae-btn span, .hae-btn :hover, .hae-btn > em {
    color: #fff;
}
.hae-menubtn > .hae-btn.btn-minor:nth-child(2), .hae-menubtn > btn-minor:nth-child(2) {
    border-left: 1px solid #fff;
}
.hae-input-arrow {
    float: left;
    margin: 5px 4px 0px 5px;
}
/*面包屑的高度*/
 #breadcrumb {
    height: 20px;
}
.hae-breadcrumb {
    margin-bottom: 60px;
}
.hae-breadcrumb > li {
    line-height: 25px;
}
.hae-breadcrumb li a:hover, .hae-breadcrumb li.breadcrumb-selected a, .hae-breadcrumb li.breadcrumb-selected span {
    color: #757575!important;
    font-size: 14px;
}
.hae-competence {
    padding: 0 0 10px 0;
}
.hae-competence .hae-icon {
    color: #838383;
}
/*弹窗*/
 .hae-dialog .dialog-head， .hae-dialog .dialog-head .hae-toolbar .hae-icon {
    color: #ff8f00;
}
.hae-dialog .err-center .hae-icon.icon-cue {
    font-size: 40px;
    vertical-align: middle;
}
.hae-dialog .err-center .center-content {
    vertical-align: middle;
    display: inline-block;
    float: right;
}
.hae-dialog .dialog-body .err-center {
    width: 112px;
    line-height: 50px;
}
/*底部样式*/
 .hae-footer {
    font-size: 14px;
}
.hae-footer, .hae-footer a {
    color: #E0B647;
}
/*首页下方*/
 #mainDiv {
    width: 1000px;
    margin-left: 50px;
}
.hae-repeat {
    clear: both;
    min-height: 150px;
}
.hae-repeat ul {
    width: 100%;
}
.hae-repeat ul li {
    float: left;
    margin: 0 5px;
}
.promotionDiv .hae-h3 {
    color: #c3c3c3;
    margin: 20px 0 30px 0;
}
/*tabs选项卡*/
 .tabs-head li.tabs-selected {
    border-color: #ef8600 #d8d8d8 transparent #d8d8d8;
}

#productContentDiv {
    background: url(/haesmp/unicom/images/phone-bg.png) no-repeat;
}
#customerContentDiv .hae-label, #productContentDiv .hae-label {
    text-align: left;
}
.unicom-view-name {
    font-size: 20px;
    color: #f35c26;
    margin-top: 15px;
    display: block;
}
.append-colon:after {
    content:"：";
}
.customer-nodata {
    font-size: 18px;
    text-align: center;
    height: 100%;
    line-height: 240px;
    margin-left: -20px;
}
/*进度条*/
 .hae-flow .flow-node-process {
    width:14px;
    height:auto;
}
.hae-flow .flow-node-process .icon-radioselected:before {
    content:"\e6b8";
}
.hae-flow .flow-node-line {
    background:none;
    border-bottom:2px solid #e8ecee;
    height:33px;
    line-height:24px;
    text-align:center;
    color:#7b868f;
    width:auto;
    padding:0 23px;
    margin:0;
}
.hae-flow .flows-node-selected {
    color:#4e5e67;
    border-bottom: 2px solid #9ddbe3;
}
.hae-flow .flow-process-selected .hae-icon {
    color:#9ddbe3;
}
.hae-flow .flow-node-process .hae-icon {
    margin-top:23px;
    font-size: 14px;
    cursor: inherit;
}
.hae-flow .flow-node-process .icon-radio:before {
    content:"\e6b7";
}
.hae-flow {
    overflow:hidden;
}
.hae-flow .flow-container > li {
    float:left;
}

 html, body, #hae_Top {
    height: auto;
}

 html, body, #hae_Top {
    height: auto;
}
/*底部样式*/
 .pull-left {
    float: left !important;
    color: #666;
}
.hae-fullwidth p {
    padding: 5px 0;
}
.hae-footer .pull-right li a {
    color: #666;
}


/*数据复制任务设计 按钮样式*/
 .haeRendered span.icon-search::before {
    content:"";
    display: inline-block;
    background: url(../images/icon.png) -229px -109px no-repeat;
    width: 14px;
    height: 14px;
}

.tabs-head li:hover a, .tabs-head li.tabs-selected a {
    color: #1aa0e1;
    font-size: 14px;
    font-weight: bold;
}
#hae_MainPanel, #hae_RightPanel {
    background: #f3f7f8;
}
.hae-tabs .tabs-head ul {
    height: 32px;
}
.tabs-body {
    border: 1px solid #e2ebf3;
    background: #ffffff;
    border-radius: 0 9px 9px;
}
.tabs-head ul {
    border-bottom:none;
}
::-webkit-scrollbar-thumb {
    background: #b2e0f8;
    border-radius: 15px;
}
.hae-tabs .tabs-head ul li {
    height: 32px;
    line-height: 32px;
}
.tabs-head li.tabs-selected {
    border-color: #1aa0e1 #e2ebf3 #fff #e2ebf3;
}
.tabs-head li:hover, .tabs-head li.tabs-selected {
    border-width: 2px 1px 1px 1px;
    border-style: solid;
    /*border-color: #e2ebf3 #e2ebf3 transparent #e2ebf3;*/
    background: #ffffff;
    /*font-weight: normal;*/
}
.hae-tabs .tabs-body {
    padding: 30px 20px 20px;
    margin-top: -1px;
}
.hae-role .hae-validator input[readonly]:nth-last-child(2) {
    border: 1px solid #e5e9ea;
    color: #43ace0;
    background: #fff;
}
.hae-input input[type="text"]:focus, .hae-input textarea:focus {
    border-color: #6EB4F4;
}
input[type="text"]:focus {
    border-color: #66afe9;
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); */
}

 .hae-header .hae-logo > li.logo-credit {
    background: url(../images/logo.png) -380px -190px no-repeat!important;
    width: 200px;
    height: 55px;
    background-color: #3e89d4;
    margin-left: 20px;
}
.toprloe-admin {
    font-size: 12px;
}
.menu-hor {
    background: #1ba0e1;
    width: auto;
    margin-right: 15px;
}
.hae-header .toprloe-admin li {
    padding: 0 14px;
    margin: 20px 0;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    border-right: 1px solid #d0e2f5;
    color: #dbe9f9;
}
.hae-header .toprloe-admin li:last-child {
    padding: 0 14px;
    margin: 20px 0;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    border-right: 0px solid #d0e2f5;
    color: #dbe9f9;
}
.pull-right a {
    color: #dbe9f9;
}
.menu-hor {
    background: none;
    width: auto;
    margin-right: 15px;
}
#hae_Body {
    border-top: 0 solid rgba(255, 255, 255, 0.1);
    margin-top: 55px;
}
#hae_LeftPanel {
    padding: 10px 5px 10px 0;
    position: relative;
    width: 216px;
    overflow: hidden;
    padding-right: 0;
    padding-top: 0;
    border-right: 1px solid #e7eaec;
}

.btn-minor .hae-icon:hover {
    color: #666;
}
.hae-label {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hae-btn {
    outline-style: none;
}

.hae-spacecontrol .hae-label {
    width: 100%;
    display: inline-block;
    vertical-align: -12px;
}
.hae-toolbar {
    clear: both;
    text-align: center;
    margin: 0;
    padding-top: 0;
}
input[type="text"] {
    height: 30px;
    padding: 0 10px;
}

.row .center .haeRendered:first-child .hae-btn {
    background: #ffac33;
    color: #fff;
    border: 1px solid #ef9716;
    height: 32px;
    padding: 0 17px 0 18px;
    line-height: 27px;
    margin-right: 7px;
}
.row .center .haeRendered:first-child .hae-btn:hover {
    background: #fd9c0e;
    color: #fff;
    border: 1px solid #ef9716;
    height: 32px;
    padding: 0 17px 0 18px;
    line-height: 27px;
    margin-right: 7px;
}
.row .center .haeRendered:last-child .hae-btn {
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    height: 32px;
    padding: 0 17px 0 18px;
    line-height: 27px;
    margin-right: 11px;
}
/** 登录页面 */
.hae-input input[type="password"]{
  border-radius: 3px;
	width: 100%;
	vertical-align: middle;
	height: 32px;
	padding: 0 10px;
	border: 1px solid #e5e9ea;
	background: #ffffff;
}
.login-center {
	border: 1px solid #e2ebf3;
	background: #ffffff;
	border-radius: 9px;
	padding: 30px 9px 0px 20px;
	margin-bottom:40px ;
	width: 40%;
	/**height: 260px;*/
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15%;
}

.login-center h2{
    border-bottom: 1px solid #ccc;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.login-center label{
    font-size:14px;
	vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 33px;
}
.login-center button{
	border-width: 0;
	font-weight: bold;
	color: white;
	line-height: normal;
	padding-top: 0.75em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	padding-left: 1.5em;
	background-color: #3e89d4;
	border-color: #3e89d4;
	border-radius: 4px;	
}
.login-center .hae-toolbar{
    padding-bottom: 50px;
}
.login-error{
    background-color: red;
	margin-top: -20px;
	border-radius: 5px;
	color: white;
	font-size: 14px;
}
h3{
	margin-bottom: 20px;
	border-bottom: 1px solid #F3F7F8;
	color:#1aa0e1
}



