#hae_Header,
#hae_Footer {
  position: fixed;
}
#hae_Footer {
  bottom: 0;
  width: 100%;
}
.hae-icon {
  font-family: 'iconfont';
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row .hae-tabs .tabs-head {
  margin-bottom: 0;
}

label {
  font-weight: normal;
}

.hae-btn {
  height: 30px;
  line-height: 30px;
  margin-right: 6px;
  margin-bottom: 5px;
  padding: 0 16px;
}

input[type="text"] {
  border: 1px solid #e5e9ea;
  background: #ffffff;
}


.tabs-head li {
  border: 1px solid #e2ebf3;
  color: #333333;
  padding: 0 30px;
  margin-right: -1px;
  background: #f8fcfe;
  border-radius: 3px 3px 0 0;
}
.tabs-head li span {
  color: #999;
}

.tabs-head li:hover span,
.tabs-head li.tabs-selected span {
  color: #1aa0e1;
}



.hae-tree.tree-togglemenu {
  font-family: "microsoft yahei", Arial;
  font-size: 14px;
  background: #fafdff;
  border: 1px solid #d8e8f0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  background: #eaecea;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2dcf1;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2dcf1;
}
::-webkit-scrollbar-thumb:active {
  background: #a4e0fc;
}
::-webkit-scrollbar-thumb {
  background: #b4d6e6;
  border-radius: 15px;
}
::-webkit-scrollbar-corner {
  background-color: #eaecea;
}
