<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.creditplus.p2p.dao.ApproveLogDao">
    
    <resultMap type="ApproveLogVO" id="approveLogVOMap">
    	<id column="id" property="loan_id"/>
		<result column="loan_id" property="loan_id"/>    	
		<result column="assign_user" property="assign_user"/>    	
		<result column="approve_content" property="approve_content"/>    	
		<result column="state" property="state"/>    	
		<result column="created_by" property="created_by"/>    	
		<result column="creted_date" property="creted_date"/>    	
		<result column="last_updated_by" property="last_updated_by"/>    	
		<result column="last_created_date" property="last_created_date"/>    	
    </resultMap>
    <select id="getAppLogByLoanId" parameterType="Integer" resultType="java.util.Map">
    	select id,loan_id,assign_user,approve_content,state,created_by,created_date,last_updated_by,last_updated_date from approve_log_t 
    	<where>
			<if test="loan_id!= null">
				AND loan_id = #{loan_id}
			</if>
			<if test="state!= null">
				AND state = #{state}
			</if>
		</where>
    </select>
    
    <insert id="insertApproveLog" parameterType="java.util.Map">
     	insert into approve_log_t(id,loan_id,assign_user,approve_content,state,created_by,created_date,last_updated_by,last_updated_date)values(#{id},#{loan_id},#{last_updated_by},#{approve_content},#{state},#{last_updated_by},sysdate(),#{last_updated_by},sysdate())
    </insert>
    
    <delete id="deleteAppLogByLoanId" parameterType="Integer">
       delete from approve_log_t  where loan_id = #{loan_id}
    </delete>
    
</mapper>