<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.creditplus.p2p.dao.ApproveLogDao">
    
    <resultMap type="ApproveLogVO" id="approveLogVOMap">
    	<id column="id" property="loan_id"/>
		<result column="loan_id" property="loan_id"/>    	
		<result column="first_approve" property="first_approve"/>    	
		<result column="two_approve" property="two_approve"/>    	
		<result column="three_approve" property="three_approve"/>    	
		<result column="approve_content" property="approve_content"/>    	
		<result column="state" property="state"/>    	
		<result column="created_by" property="created_by"/>    	
		<result column="creted_date" property="creted_date"/>    	
		<result column="last_updated_by" property="last_updated_by"/>    	
		<result column="last_created_date" property="last_created_date"/>    	
    </resultMap>
    <select id="getAppLogByLoanId" parameterType="Integer" resultMap="ApproveLogVO">
    	select t.id,t.user_id,t.loan_money,t.loan_day,t.expire_day,t.count,t.pay_fee,t.act_money,t.overdue_fee,t.state,t.first_trial_user,t.review_user,t.created_by,t.created_date,t.last_updated_by,t.last_updated_date 
    	from loan_app_t t where t.id = #{id}
    </select>
    
    <insert id="insertApproveLog" parameterType="ApproveLogVO" useGeneratedKeys="true" keyProperty="id">
      insert into approve_log_t(loan_id,first_approve,two_approve,three_approve,approve_content,state,created_by,created_date,last_updated_by,last_updated_date)values(#{loan_id},#{first_approve},#{two_approve},#{three_approve},#{approve_content},#{state},#{created_by},#{created_date},#{last_updated_by},#{last_updated_date})
    </insert>
    
    <delete id="insertApproveLog" parameterType="Integer">
       delete from approve_log_t  where loan_id = #{loan_id}
    </delete>
    
</mapper>