<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.creditplus.p2p.dao.CatalogDao">
	<resultMap type="CatalogVO" id="catalogVOMap">  
        <id column="catalog_id"    property="catalogId"/>  
        <result column="catalog_name" property="catalogName"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent_name" property="parentName"/>          
        <result column="url" property="url"/>
        <result column="order_number" property="orderNumber"/>        
        <result column="remark"   property="remark"/>        
        <result column="created_by" property="created_by"/>          
        <result column="created_date" property="created_date"/>          
        <result column="last_updated_by" property="last_updated_by"/>          
        <result column="last_updated_date" property="last_updated_date"/>
    </resultMap>
    <insert id="insertCatalog" parameterType="java.util.List">
       insert into catalog_t(catalog_id,catalog_name,parent_id, url,order_number,remark,created_by,created_date,last_updated_by,last_updated_date) 
             values
	    <foreach collection="list" item="item" index="index" separator="," >  
             (#{item.catalogId},#{item.catalogName},#{item.parent_id},#{item.url},#{item.orderNumber},#{item.remark},#{item.created_by},#{item.created_date},#{item.last_updated_by},now())
        </foreach>
    </insert>

    <delete id="deleteCatalog" parameterType="java.util.List">
    	delete from catalog_t where catalog_id in
 		<foreach collection="list" item="catalogId" index="index"
            open="(" close=")" separator=",">        
         	#{catalogId}
 		</foreach>     	
    </delete>
    
    <select id="getCatalogListWithPage" parameterType="CatalogVO" resultMap="catalogVOMap">
     	   select c.*
             from catalog_t c
			where 1=1
		<if test="parentId !=null " >  
               and parent_id = #{parentId} 
  		</if>  		
  		<if test="catalogName !=null " >  
              and lower(c.catalog_name) LIKE CONCAT(CONCAT('%', lower(#{catalogName,jdbcType=VARCHAR})),'%')  
  		</if>
  		order by order_number asc       
     </select>
    <select id="getCatalogListByParentId" parameterType="java.util.List" resultType="Integer" >
     	select catalog_id as catalogId
          from catalog_t c
         where c.parent_id in 
 		<foreach collection="list" item="catalogId" index="index"
            open="(" close=")" separator=",">        
         	#{catalogId} 
 		</foreach>             
     </select>  
     <select id="getCatalogTree" resultType="java.util.Map" >
     	select catalog_id,parent_id,catalog_name,url,order_number from catalog_t c order by parent_id asc, order_number asc      
    </select>       
</mapper>