<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.creditplus.p2p.dao.CheatInterceptDao">
    
	<select id="getCheatInfoListByLoanId" parameterType="Integer" resultType="java.util.Map">
		select check_item,intercept_source,intercept_cause,created_date from cheat_intercept_t where loan_id=#{loan_id}
	</select>    
	
	<insert id="insertBatch" parameterType="java.util.Map">
		insert into cheat_intercept_t(id,loan_id,intercept_source,check_item,intercept_cause,created_by,created_date,last_updated_by,last_updated_date)values(#{id},#{loan_id},#{intercept_source},#{check_item},#{intercept_cause},#{last_updated_by},sysdate(),#{last_updated_by},sysdate())
	</insert>
	
<!-- 	<insert id="insertBatch" parameterType="java.util.Map">
		insert into urgent_contactor_t(user_id,name,relation,mobile,mobile_address,created_by,created_date,last_updated_by,last_updated_date)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.user_id},#{item.name},#{item.relation},#{item.mobile},#{item.mobile_address},#{item.last_updated_by},ifnull(#{item.sysdate},sysdate()),#{item.last_updated_by},ifnull(#{item.sysdate},sysdate()))
		</foreach>
	</insert> -->
	
</mapper>