<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.creditplus.p2p.dao.CreditScoreDao">
	
	<select id="getCreditScoreList" resultType="java.util.Map" parameterType="java.util.Map">
		select score_id,model_name,dimension_name,proportion,created_by,created_date,last_updated_by,last_updated_date,remark from credit_score_t
		where 1=1
		<if test="model_name !=null">
			and model_name=#{model_name}
		</if> 
		<if test="dimension_name !=null">
			and dimension_name=#{dimension_name}
		</if> 
	</select>
	
	<select id="getCreditScoreById" parameterType="Integer" resultType="java.util.Map">
		select score_id,model_name,dimension_name,proportion,created_by,created_date,last_updated_by,last_updated_date,remark from credit_score_t where score_id=#{score_id}
	</select>
	
	<select id="getCreditItemById" parameterType="Integer" resultType="java.util.Map">
		select item_id,score_id,main_table,child_table,relevance_colum,expression,score,created_by,created_date,last_updated_by,last_updated_date,remark from credit_score_item_t where score_id = #{score_id}
	</select>
	
	<select id="findByName" parameterType="String" resultType="Integer">
		select score_id from credit_score_t where dimension_name=#{dimension_name}
	</select>
	
	<delete id="deleteCreditScore"  parameterType="java.util.List">
			delete from credit_score_t  where score_id in
    	<foreach collection="list" item="score_id" index="index"
            open="(" close=")" separator=",">        
         	#{score_id} 
 		</foreach>  
	</delete>
	
	<delete id="deleteCreditItem"  parameterType="java.util.List">
			delete from credit_score_item_t  where item_id in
    	<foreach collection="list" item="item_id" index="index"
            open="(" close=")" separator=",">        
         	#{item_id} 
 		</foreach>  
	</delete>
	
	<delete id="deleteCreditItemBySid"  parameterType="Integer">
			delete from credit_score_item_t  where score_id=#{score_id} 
	</delete>
	
	<update id="updateCreditScore" parameterType="java.util.Map">
		update credit_score_t  set  
    		<if test="model_name != null">
    			model_name = #{model_name},
    		</if> 
   			<if test="dimension_name != null">
    			dimension_name = #{dimension_name},
    		</if> 
   			<if test="proportion != null">
    			 proportion=#{proportion},
    		</if> 
    		<if test="remark != null">
    			 remark=#{remark},
    		</if> 
    		 last_updated_by = #{last_updated_by}, last_updated_date = sysdate()
    	where score_id = #{score_id}
	</update>
	
	<insert id="insertCreditScore" parameterType="java.util.Map">
		insert into credit_score_t(score_id,model_name,dimension_name,proportion,created_by,created_date,last_updated_by,last_updated_date,remark)values(#{score_id},#{model_name},#{dimension_name},#{proportion},#{last_updated_by},sysdate(),#{last_updated_by},sysdate(),#{remark})
	</insert>
	
	<insert id="insertCreditItems" parameterType="java.util.Map">
		insert into credit_score_item_t(item_id,score_id,main_table,child_table,relevance_colum,expression,score,created_by,created_date,last_updated_by,last_updated_date,remark)
       	values
	    <foreach collection="list" item="item" index="index" separator="," >  
	      (#{item.item_id},#{item.score_id},#{item.main_table},#{item.child_table},#{item.relevance_colum},#{item.expression},#{item.score},#{item.last_updated_by},sysdate(),#{item.last_updated_by},sysdate(),#{remark})
	    </foreach>
	</insert>
</mapper>