<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.creditplus.p2p.dao.DictDao">
	<resultMap type="DictVO" id="dictVOMap">  
        <id column="dict_id"  property="dictId"/>  
        <result column="code" property="code"/>
        <result column="name" property="name"/> 
        <result column="type" property="type"/>
        <result column="state" property="state"/>
        <result column="order_number" property="orderNumber"/>
        <result column="parent_id" property="parentId"/>
        <result column="remark"   property="remark"/>        
        <result column="created_by" property="created_by"/>          
        <result column="created_date" property="created_date"/>          
        <result column="last_updated_by" property="last_updated_by"/>          
        <result column="last_updated_date" property="last_updated_date"/>
    </resultMap>
    
    <insert id="insertDict" parameterType="java.util.List">
       insert into dict_t(dict_id,code,name, type,state,order_number,parent_id,remark,created_by,created_date,last_updated_by,last_updated_date) 
             values
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.dictId},#{item.code},#{item.name},#{item.type},#{item.state},#{item.orderNumber},#{item.parent_id},#{item.remark},#{item.created_by},#{item.created_date},#{item.last_updated_by},now())  
	    </foreach>
    </insert>
    
    <delete id="deleteDict" parameterType="java.util.List">
    	delete from dict_t where dict_id in
 		<foreach collection="list" item="dictId" index="index"
            open="(" close=")" separator=",">        
         	#{dictId} 
 		</foreach>     	
    </delete>
    
    <select id="getDictListWithPage" parameterType="DictVO" resultMap="dictVOMap">
       		   select d.*
                 from dict_t d
                 where 1=1
 		<if test="parentId !=null " >  
                 and parent_id = #{parentId} 
    	</if>                  
 		<if test="name !=null " >  
                 and lower(d.name) LIKE CONCAT(CONCAT('%', lower(#{name,jdbcType=VARCHAR})),'%')  
    	</if>   
    	order by type,order_number     
     </select>
     
     <select id="getDictItems" parameterType="DictVO" resultMap="dictVOMap">
     	select * from p2p.dict_t where state=1 and type=#{type} 
     	<if test="code != null">
     		and code=#{code}
     	</if>
     	<if test="parentId != null">
     		and parent_id=#{parentId}
     	</if>
     	order by order_number
     </select>
     
    <select id="getDictListByParentId" parameterType="java.util.List" resultType="Integer">
	   select dict_id as dictId
         from dict_t d
         where d.parent_id in 
 		<foreach collection="list" item="dictId" index="index"
            open="(" close=")" separator=",">        
         	#{dictId}
 		</foreach>             
     </select>
</mapper>