<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creditplus.p2p.dao.HighSchoolDao">

	<select id="getHighSchoolList" resultType="java.util.Map">
	     select full_name,level from high_school
	</select>
	
	<select id="getHighSchoolLevel" resultType="java.util.Map">
		select level from high_school group by level
	</select>
	
	
</mapper>