<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.creditplus.p2p.dao.ResourceDao">
	<resultMap type="ResourceVO" id="resourceVOMap">  
        <id column="resource_id"    property="resourceId"/>  
        <result column="resource_name" property="resourceName"/> 
        <result column="url" property="url"/>
        <result column="priority" property="priority"/>
        <result column="resource_type" property="resourceType"/>
        <result column="remark"   property="remark"/>        
        <result column="created_by" property="created_by"/>          
        <result column="created_date" property="created_date"/>          
        <result column="last_updated_by" property="last_updated_by"/>          
        <result column="last_updated_date" property="last_updated_date"/>
    </resultMap>
    
    <insert id="insertResource" parameterType="ResourceVO">
       insert into resource_t(resource_id,resource_name,url, priority,resource_type,remark,created_by,created_date,last_updated_by,last_updated_date) 
             values(#{resourceId},#{resourceName},#{url},#{priority},#{resourceType},#{remark},#{created_by},#{created_date},#{last_updated_by},now())    	
    </insert>
    
    <select id="getResourceListWithPage" parameterType="ResourceVO" resultMap="resourceVOMap">
       		   select res.*
                 from resource_t res
 		<if test="name !=null " >  
                where lower(res.resource_name) LIKE CONCAT(CONCAT('%', lower(#{resourceName,jdbcType=VARCHAR})),'%')  
    	</if>       
     </select>
     
    <select id="findAll" resultMap="resourceVOMap">
       select * from resource_t
    </select>
</mapper>