<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creditplus.p2p.dao.RuleDao">

	<select id="getRulesList" resultType="java.util.Map">
		select rule_id,rule_name,state,created_by,created_date,last_updated_by,last_updated_date,remark from p2p.rule_t
		<where>
			<if test="rule_name!= null">
				AND rule_name = #{rule_name}
			</if>
			<if test="state!= null">
				AND state = #{state}
			</if>
			<if test="created_by!= null">
				AND created_by = #{created_by}
			</if>
		</where>
	</select>

	<select id="getDimensionListByRuleId" parameterType="Integer" resultType="java.util.Map">
		select dis_id,rule_id,table_name,column_name,semanteme,value,arithmetic,created_by,created_date,last_updated_by,last_updated_date,remark from p2p.dimension_t
		<where>
			<if test="rule_id!= null">
				AND rule_id = #{rule_id}
			</if>
			<if test="table_name!= null">
				AND table_name = #{table_name}
			</if>
			<if test="column_name!= null">
				AND column_name = #{column_name}
			</if>
			<if test="created_by!= null">
				AND created_by = #{created_by}
			</if>
		</where>
	</select>
</mapper>