<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.creditplus.p2p.dao.RuleDao">

	<select id="getRulesList" resultType="java.util.Map">
		select rule_id,rule_name,state,remark from p2p.rule_t where state=1
	</select>

	<select id="getDimensionListByRuleId" parameterType="Integer" resultType="java.util.Map">
		select t.dis_id,t.rule_id,r.rule_name,t.table_name,t.column_name,t.semanteme,t.value,t.arithmetic,t.remark 
		from dimension_t t left join rule_t r on t.rule_id=r.rule_id 
		where r.state=1 and t.rule_id=#{rule_id}
	</select>
	
	
	
	<!-- <select id="getRulesList" parameterType="java.util.Map" resultType="java.util.Map">
		select rule_id,rule_name,state,created_by,created_date,last_updated_by,last_updated_date,remark from p2p.rule_t 
		where state=1
		<if test="rule_name!= null">
			AND rule_name = #{rule_name}
		</if>
		<if test="created_by!= null">
			AND created_by = #{created_by}
		</if>
	</select>

	<select id="getDimensionListByRuleId" parameterType="java.util.Map" resultType="java.util.Map">
		select t.dis_id,t.rule_id,r.rule_name,t.table_name,t.column_name,t.semanteme,t.value,t.arithmetic,t.created_by,t.created_date,t.last_updated_by,t.last_updated_date,t.remark 
		from dimension_t t left join rule_t r on t.rule_id=r.rule_id 
		where r.state=1
		<if test="rule_id!= null">
			AND t.rule_id = #{rule_id}
		</if>
		<if test="table_name!= null">
			AND t.table_name = #{table_name}
		</if>
		<if test="column_name!= null">
			AND t.column_name = #{column_name}
		</if>
		<if test="created_by!= null">
			AND t.created_by = #{created_by}
		</if>
	</select> -->
</mapper>