<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.creditplus.p2p.dao.UrgentContactorDao">
    
	<select id="getListByUserId" parameterType="Integer" resultType="java.util.Map">
		select u.sn,u.user_id,u.name,u.relation,u.mobile,t.mobile_province,t.mobile_city,t.created_by,t.created_date,t.last_updated_by,t.last_updated_date from urgent_list u left join urgent_contactor_t t on u.sn=t.sn where u.user_id = #{user_id} order by u.modifytime desc limit 2
	</select>    
	
	<insert id="insertBatch" parameterType="java.util.Map">
		insert into urgent_contactor_t(sn,user_id,mobile_province,mobile_city,created_by,created_date,last_updated_by,last_updated_date)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.sn},#{item.user_id},#{item.mobile_province},#{item.mobile_city},#{item.last_updated_by},sysdate(),#{item.last_updated_by},sysdate())
		</foreach>
	</insert>
	
	<delete id="deleteByUserId" parameterType="Integer">
		delete from urgent_contactor_t  where  user_id = #{user_id}
	</delete>
	
	<select id="getUrgentListByUserId" parameterType="Integer" resultType="java.util.Map">
		select sn,user_id,name,relation,mobile,modifytime from urgent_list where user_id = #{user_id}
	</select>  
</mapper>