<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.creditplus.p2p.dao.UserInfoDao">
    
    <insert id="insertUserInfo" parameterType="UserVO">
       insert into user_info_t(id,name,sex,age,ethnic,province,city,phone,phone_place,id_card,card_bank,card_no,card_tel,work_province,work_city,work_tel,seasame_score,mobile_ser_code,created_date,last_updated_date)values(#{userId},#{name},#{sex},#{age},#{ethnic},#{province},#{city},#{phone},#{phone_place},#{id_card},#{card_bank},#{card_no},#{card_tel},#{work_province},#{work_city},#{work_tel},#{seasame_score},#{mobile_ser_code},sysdate(),sysdate()) 
    </insert>
    
    <delete id="deleteUserInfoById" parameterType="String">
       delete from user_info_t where id=#{userId}
    </delete>    
   
    <update id="updateUserInfo" parameterType="UserVO">
       update user_info_t set created_by=sysdate() where 1=2
    </update>
   
    <select id="getUserInfoById" parameterType="Integer" resultMap="userDetailMap">
       		select u.* from user_info_t where user_id=#{userId}
    </select>
    
</mapper>