<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"         
    xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx 
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop.xsd           
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd ">          

     <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager" depends-on="systemPrereqs">
       <property name="transactionManager" ref="jbossTransactionManager"/>
       <property name="userTransaction" ref="jbossUserTransaction"/>
     </bean> 

     <tx:advice id="txAdvice" transaction-manager="transactionManager"> 
        <tx:attributes> 
            <tx:method name="add*" propagation="REQUIRED"   rollback-for="Exception" /> 
            <tx:method name="delete*" propagation="REQUIRED"   rollback-for="Exception"/> 
            <tx:method name="update*" propagation="REQUIRED"   rollback-for="Exception"/> 
            <tx:method name="insert*" propagation="REQUIRED"    rollback-for="Exception" /> 
            <tx:method name="getCredit*" propagation="REQUIRED"   rollback-for="Exception"/> 
            <tx:method name="credit*" propagation="REQUIRED"   rollback-for="Exception"/> 
        </tx:attributes>
    </tx:advice> 
 
    <aop:config> 
        <aop:pointcut id="pointCut" expression="execution(* com.creditplus.p2p.service.*.*(..))" /> 
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointCut" /> 
    </aop:config>   
    
    <context:annotation-config  />
    <!-- <context:component-scan base-package="com.creditplus.p2p" />  
    <tx:annotation-driven transaction-manager="transactionManager" /> -->              
    <bean id="userService" class=" com.creditplus.p2p.service.impl.UserServiceImpl" />
    <bean id="roleService" class=" com.creditplus.p2p.service.impl.RoleServiceImpl" />
    <bean id="resourceService" class=" com.creditplus.p2p.service.impl.ResourceServiceImpl" />    
    <bean id="catalogService"  class=" com.creditplus.p2p.service.impl.CatalogServiceImpl" />    
    <bean id="dictService"     class=" com.creditplus.p2p.service.impl.DictServiceImpl" />  
    <bean id="loanOrderService" class="com.creditplus.p2p.service.impl.LoanOrderServiceImpl" />
    <bean id="approveLogService" class="com.creditplus.p2p.service.impl.ApproveLogServiceImpl" />     
    <bean id="urgentContactorService" class="com.creditplus.p2p.service.impl.UrgentContactorServiceImpl" />     
    <bean id="commonInfoService" class="com.creditplus.p2p.service.impl.CommonInfoServiceImpl" />     
    <bean id="cheatInterceptService" class="com.creditplus.p2p.service.impl.CheatInterceptServiceImpl" />     
    <bean id="ruleService" class="com.creditplus.p2p.service.impl.RuleServiceImpl" />     
    <bean id="originPlaceService" class="com.creditplus.p2p.service.impl.OriginPlaceServiceImpl" />     
    <bean id="creditScoreService" class="com.creditplus.p2p.service.impl.CreditScoreServiceImpl" />     
    <bean id="highSchoolService" class="com.creditplus.p2p.service.impl.HighSchoolServiceImpl" />     
    <bean id="contractService" class="com.creditplus.p2p.service.impl.ContractServiceImpl" />
</beans>